# DSO 545 Project Adding Features

In [1]:
import pandas as pd
schedule=pd.read_csv('schedule.csv',index_col=0)
locations=pd.read_csv('arena_locations.csv',index_col=0)

## Check Whether Teams and Abbreviations Match in Both Tables

In [2]:
schedule.head()

,boxscore_index,date,datetime,game,location,losses,opponent_abbr,opponent_name,playoffs,points_allowed,points_scored,result,streak,time,wins,team,season
0,200810280LAL,"Tue, Oct 28, 2008",2008-10-28,1,Away,1.0,LAL,Los Angeles Lakers,False,96.0,76.0,Loss,L 1,10:30p,0.0,POR,2009.0
1,200810310POR,"Fri, Oct 31, 2008",2008-10-31,2,Home,1.0,SAS,San Antonio Spurs,False,99.0,100.0,Win,W 1,10:30p,1.0,POR,2009.0
2,200811010PHO,"Sat, Nov 1, 2008",2008-11-01,3,Away,2.0,PHO,Phoenix Suns,False,107.0,96.0,Loss,L 1,10:00p,1.0,POR,2009.0
3,200811050UTA,"Wed, Nov 5, 2008",2008-11-05,4,Away,3.0,UTA,Utah Jazz,False,103.0,96.0,Loss,L 2,9:00p,1.0,POR,2009.0
4,200811060POR,"Thu, Nov 6, 2008",2008-11-06,5,Home,3.0,HOU,Houston Rockets,False,99.0,101.0,Win,W 1,10:30p,2.0,POR,2009.0

In [3]:
locations

,Division,Team,Location,Arena,Capacity,Coordinates,Founded,Joined,Longitude,Latitude,Team_short
0,Atlantic,Boston Celtics,"Boston, Massachusetts",TD Garden,18624,42°21′59″N 71°03′44″W﻿ / ﻿42.366303°N 71.062228°W,1946,1946,-71.062228,42.366303,BOS
1,Atlantic,Brooklyn Nets,"New York City, New York",Barclays Center,17732,40°40′58″N 73°58′29″W﻿ / ﻿40.68265°N 73.974689°W,1967*,1976,-73.974689,40.682650,BKN
2,Atlantic,New York Knicks,"New York City, New York",Madison Square Garden,19812,40°45′02″N 73°59′37″W﻿ / ﻿40.750556°N 73.993611°W,1946,1946,-73.993611,40.750556,NYK
3,Atlantic,Philadelphia 76ers,"Philadelphia, Pennsylvania",Wells Fargo Center,21600,39°54′04″N 75°10′19″W﻿ / ﻿39.901111°N 75.171944°W,1946*,1949,-75.171944,39.901111,PHI
4,Atlantic,Toronto Raptors,"Toronto, Ontario",Scotiabank Arena,19800,43°38′36″N 79°22′45″W﻿ / ﻿43.643333°N 79.379167°W,1995,1995,-79.379167,43.643333,TOR
5,Central,Chicago Bulls,"Chicago, Illinois",United Center,20917,41°52′50″N 87°40′27″W﻿ / ﻿41.880556°N 87.674167°W,1966,1966,-87.674167,41.880556,CHI
6,Central,Cleveland Cavaliers,"Cleveland, Ohio",Rocket Mortgage FieldHouse,20562,41°29′47″N 81°41′17″W﻿ / ﻿41.496389°N 81.688056°W,1970,1970,-81.688056,41.496389,CLE
7,Central,Detroit Pistons,"Detroit, Michigan",Little Caesars Arena,20491,42°41′49″N 83°14′44″W﻿ / ﻿42.696944°N 83.245556°W,1941*,1948,-83.245556,42.696944,DET
8,Central,Indiana Pacers,"Indianapolis, Indiana",Gainbridge Fieldhouse,17923,39°45′50″N 86°09′20″W﻿ / ﻿39.763889°N 86.155556°W,1967,1976,-86.155556,39.763889,IND
9,Central,Milwaukee Bucks,"Milwaukee, Wisconsin",Fiserv Forum,18717,43°02′37″N 87°55′01″W﻿ / ﻿43.043611°N 87.916944°W,1968,1968,-87.916944,43.043611,MIL
10,Southeast,Atlanta Hawks,"Atlanta, Georgia",State Farm Arena,15711,33°45′26″N 84°23′47″W﻿ / ﻿33.757222°N 84.396389°W,1946*,1949,-84.396389,33.757222,ATL
11,Southeast,Charlotte Hornets,"Charlotte, North Carolina",Spectrum Center,19077,35°13′30″N 80°50′21″W﻿ / ﻿35.225°N 80.839167°W,1988*,1988*,-80.839167,35.225000,CHA
12,Southeast,Miami Heat,"Miami, Florida",FTX Arena,19600,25°46′53″N 80°11′17″W﻿ / ﻿25.781389°N 80.188056°W,1988,1988,-80.188056,25.781389,MIA
13,Southeast,Orlando Magic,"Orlando, Florida",Amway Center,18846,28°32′21″N 81°23′01″W﻿ / ﻿28.539167°N 81.383611°W,1989,1989,-81.383611,28.539167,ORL
14,Southeast,Washington Wizards,"Washington, D.C.",Capital One Arena,20356,38°53′53″N 77°01′15″W﻿ / ﻿38.898056°N 77.020833°W,1961*,1961*,-77.020833,38.898056,WAS
15,Northwest,Denver Nuggets,"Denver, Colorado",Ball Arena,19520,39°44′55″N 105°00′27″W﻿ / ﻿39.748611°N 105.0075°W,1967,1976,-105.007500,39.748611,DEN
16,Northwest,Minnesota Timberwolves,"Minneapolis, Minnesota",Target Center,19356,44°58′46″N 93°16′34″W﻿ / ﻿44.979444°N 93.276111°W,1989,1989,-93.276111,44.979444,MIN
17,Northwest,Oklahoma City Thunder,"Oklahoma City, Oklahoma",Paycom Center,18203,35°27′48″N 97°30′54″W﻿ / ﻿35.463333°N 97.515°W,1967*,1967*,-97.515000,35.463333,OKC
18,Northwest,Portland Trail Blazers,"Portland, Oregon",Moda Center,19441,45°31′54″N 122°40′00″W﻿ / ﻿45.531667°N 122.666...,1970,1970,-122.666667,45.531667,POR
19,Northwest,Utah Jazz,"Salt Lake City, Utah",Vivint Arena,19911,40°46′06″N 111°54′04″W﻿ / ﻿40.768333°N 111.901...,1974*,1974*,-111.901111,40.768333,UTH
20,Pacific,Golden State Warriors,"San Francisco, California",Chase Center,18064,37°46′05″N 122°23′15″W﻿ / ﻿37.768056°N 122.3875°W,1946*,1946*,-122.387500,37.768056,GSW
21,Pacific,Los Angeles Clippers,"Los Angeles, California",Staples Center,19060,34°02′35″N 118°16′02″W﻿ / ﻿34.043056°N 118.267...,1970*,1970*,-118.267222,34.043056,LAC
22,Pacific,Los Angeles Lakers,"Los Angeles, California",Staples Center,18997,34°02′35″N 118°16′02″W﻿ / ﻿34.043056°N 118.267...,1947*,1948,-118.267222,34.043056,LAL
23,Pacific,Phoenix Suns,"Phoenix, Arizona",Footprint Center,18055,33°26′45″N 112°04′17″W﻿ / ﻿33.445833°N 112.071...,1968,1968,-112.071389,33.445833,PHO
24,Pacific,Sacramento Kings,"Sacramento, California",Golden 1 Center,17500,38°38′57″N 121°31′05″W﻿ / ﻿38.649167°N 121.518...,1923*,1948,-121.518056,38.649167,SAC
25,Southwest,Dallas Mavericks,"Dallas, Texas",American Airlines Center,19200,32°47′26″N 96°48′37″W﻿ / ﻿32.790556°N 96.810278°W,1980,1980,-96.810278,32.790556,DAL
26,Southwest,Houston Rockets,"Houston, Texas",Toyota Center,18055,29°45′03″N 95°21′44″W﻿ / ﻿29.750833°N 95.362222°W,1967*,1967*,-95.362222,29.750833,HOU
27,Southwest,Memphis Grizzlies,"Memphis, Tennessee",FedExForum,18119,35°08′18″N 90°03′02″W﻿ / ﻿35.138333°N 90.050556°W,1995*,1995*,-90.050556,35.138333,MEM
28,Southwest,New Orleans Pelicans,"New Orleans, Louisiana",Smoothie King Center,16867,29°56′56″N 90°04′55″W﻿ / ﻿29.948889°N 90.081944°W,2002*,2002*,-90.081944,29.948889,NOP
29,Southwest,San Antonio Spurs,"San Antonio, Texas",AT&T Center,18418,29°25′37″N 98°26′15″W﻿ / ﻿29.426944°N 98.4375°W,1967*,1976,-98.437500,29.426944,SAS
30,Atlantic,New Jersey Nets,"Newark, New Jersey",Prudential Center,18711,40°44′1″N 74°10′16″W﻿ / ﻿40.733611°N 74.171111°W,1976*,1976,-74.171111,40.733611,NJN
31,Southwest,New Orleans Hornets,"New Orleans, Louisiana",Smoothie King Center,16867,29°56′56″N 90°04′55″W﻿ / ﻿29.948889°N 90.081944°W,2002*,2002*,-90.081944,29.948889,NOH
32,Southeast,Charlotte Hornets,"Charlotte, North Carolina",Spectrum Center,19077,35°13′30″N 80°50′21″W﻿ / ﻿35.225°N 80.839167°W,1988*,1988*,-80.839167,35.225000,CHA

In [4]:
# Compare the unique team abbreviations in both dataframes
check1=pd.Series(schedule['team'].unique())
len(check1)

33

In [5]:
check2=pd.Series(locations['Team_short'].unique())
len(check2)

32

In [6]:
# Locations dataframe has the wrong abbreviation for Utah Jazz and Charlotte Hornets
check1[check1.isin(check2)==False]

23    UTA
32    CHO
dtype: object

In [7]:
check2[check2.isin(check1)==False]

19    UTH
dtype: object

In [8]:
# Insert the correct abbreviations and add Charlotte Bobcats
locations.loc[11,'Team']='Charlotte Bobcats'
locations.loc[locations['Team']=='Charlotte Hornets','Team_short']='CHO'

In [9]:
locations.loc[locations['Team']=='Utah Jazz','Team_short']='UTA'

In [10]:
# Check that all abbreviations now match
fixed=pd.Series(locations['Team_short'].unique())
check1[check1.isin(fixed)==False]

Series([], dtype: object)

In [11]:
# Set the index of the locations table to the team abbreviations
locations=locations.set_index('Team_short')

## Add Features to the Schedule Table

In [12]:
# Add longitude and latitude columns for team and opponent in the schedule table
schedule['team_long']=schedule['team'].map(lambda team: locations.loc[team,'Longitude'])
schedule['team_lat']=schedule['team'].map(lambda team: locations.loc[team,'Latitude'])
schedule['opponent_long']=schedule['opponent_abbr'].map(lambda team: locations.loc[team,'Longitude'])
schedule['opponent_lat']=schedule['opponent_abbr'].map(lambda team: locations.loc[team,'Latitude'])

In [13]:
schedule.head()

,boxscore_index,date,datetime,game,location,losses,opponent_abbr,opponent_name,playoffs,points_allowed,...,result,streak,time,wins,team,season,team_long,team_lat,opponent_long,opponent_lat
0,200810280LAL,"Tue, Oct 28, 2008",2008-10-28,1,Away,1.0,LAL,Los Angeles Lakers,False,96.0,...,Loss,L 1,10:30p,0.0,POR,2009.0,-122.666667,45.531667,-118.267222,34.043056
1,200810310POR,"Fri, Oct 31, 2008",2008-10-31,2,Home,1.0,SAS,San Antonio Spurs,False,99.0,...,Win,W 1,10:30p,1.0,POR,2009.0,-122.666667,45.531667,-98.437500,29.426944
2,200811010PHO,"Sat, Nov 1, 2008",2008-11-01,3,Away,2.0,PHO,Phoenix Suns,False,107.0,...,Loss,L 1,10:00p,1.0,POR,2009.0,-122.666667,45.531667,-112.071389,33.445833
3,200811050UTA,"Wed, Nov 5, 2008",2008-11-05,4,Away,3.0,UTA,Utah Jazz,False,103.0,...,Loss,L 2,9:00p,1.0,POR,2009.0,-122.666667,45.531667,-111.901111,40.768333
4,200811060POR,"Thu, Nov 6, 2008",2008-11-06,5,Home,3.0,HOU,Houston Rockets,False,99.0,...,Win,W 1,10:30p,2.0,POR,2009.0,-122.666667,45.531667,-95.362222,29.750833

In [14]:
schedule.columns

Index(['boxscore_index', 'date', 'datetime', 'game', 'location', 'losses',
       'opponent_abbr', 'opponent_name', 'playoffs', 'points_allowed',
       'points_scored', 'result', 'streak', 'time', 'wins', 'team', 'season',
       'team_long', 'team_lat', 'opponent_long', 'opponent_lat'],
      dtype='object')

In [15]:
column_names=['boxscore_index', 'date', 'datetime', 'game', 'location', 'losses',
       'opponent_abbr', 'opponent_name', 'opponent_long', 'opponent_lat', 'playoffs', 'points_allowed',
       'points_scored', 'result', 'streak', 'time', 'wins', 'team', 'team_long', 'team_lat', 'season']

In [16]:
# Change the order of the columns to be more appropriate 
schedule=schedule.reindex(columns=column_names)
schedule.head()

,boxscore_index,date,datetime,game,location,losses,opponent_abbr,opponent_name,opponent_long,opponent_lat,...,points_allowed,points_scored,result,streak,time,wins,team,team_long,team_lat,season
0,200810280LAL,"Tue, Oct 28, 2008",2008-10-28,1,Away,1.0,LAL,Los Angeles Lakers,-118.267222,34.043056,...,96.0,76.0,Loss,L 1,10:30p,0.0,POR,-122.666667,45.531667,2009.0
1,200810310POR,"Fri, Oct 31, 2008",2008-10-31,2,Home,1.0,SAS,San Antonio Spurs,-98.437500,29.426944,...,99.0,100.0,Win,W 1,10:30p,1.0,POR,-122.666667,45.531667,2009.0
2,200811010PHO,"Sat, Nov 1, 2008",2008-11-01,3,Away,2.0,PHO,Phoenix Suns,-112.071389,33.445833,...,107.0,96.0,Loss,L 1,10:00p,1.0,POR,-122.666667,45.531667,2009.0
3,200811050UTA,"Wed, Nov 5, 2008",2008-11-05,4,Away,3.0,UTA,Utah Jazz,-111.901111,40.768333,...,103.0,96.0,Loss,L 2,9:00p,1.0,POR,-122.666667,45.531667,2009.0
4,200811060POR,"Thu, Nov 6, 2008",2008-11-06,5,Home,3.0,HOU,Houston Rockets,-95.362222,29.750833,...,99.0,101.0,Win,W 1,10:30p,2.0,POR,-122.666667,45.531667,2009.0

In [17]:
from geopy import distance

In [18]:
len(schedule)

35498

In [19]:
# Create a column of zeros to store the distance traveled by each team each game
distance_traveled=pd.Series([0]*len(schedule))
len(distance_traveled)

35498

In [20]:
# Insert the column of zeros into the schedule table
schedule.insert(5,"distance_traveled",distance_traveled)
schedule.head()

,boxscore_index,date,datetime,game,location,distance_traveled,losses,opponent_abbr,opponent_name,opponent_long,...,points_allowed,points_scored,result,streak,time,wins,team,team_long,team_lat,season
0,200810280LAL,"Tue, Oct 28, 2008",2008-10-28,1,Away,0,1.0,LAL,Los Angeles Lakers,-118.267222,...,96.0,76.0,Loss,L 1,10:30p,0.0,POR,-122.666667,45.531667,2009.0
1,200810310POR,"Fri, Oct 31, 2008",2008-10-31,2,Home,0,1.0,SAS,San Antonio Spurs,-98.437500,...,99.0,100.0,Win,W 1,10:30p,1.0,POR,-122.666667,45.531667,2009.0
2,200811010PHO,"Sat, Nov 1, 2008",2008-11-01,3,Away,0,2.0,PHO,Phoenix Suns,-112.071389,...,107.0,96.0,Loss,L 1,10:00p,1.0,POR,-122.666667,45.531667,2009.0
3,200811050UTA,"Wed, Nov 5, 2008",2008-11-05,4,Away,0,3.0,UTA,Utah Jazz,-111.901111,...,103.0,96.0,Loss,L 2,9:00p,1.0,POR,-122.666667,45.531667,2009.0
4,200811060POR,"Thu, Nov 6, 2008",2008-11-06,5,Home,0,3.0,HOU,Houston Rockets,-95.362222,...,99.0,101.0,Win,W 1,10:30p,2.0,POR,-122.666667,45.531667,2009.0

In [21]:
# Add coordinates columns to the schedule table in a format that can be passed to the distance.distance function
schedule['opp_coords']=list(zip(schedule['opponent_lat'],schedule['opponent_long']))
schedule['team_coords']=list(zip(schedule['team_lat'],schedule['team_long']))
schedule.head()

,boxscore_index,date,datetime,game,location,distance_traveled,losses,opponent_abbr,opponent_name,opponent_long,...,result,streak,time,wins,team,team_long,team_lat,season,opp_coords,team_coords
0,200810280LAL,"Tue, Oct 28, 2008",2008-10-28,1,Away,0,1.0,LAL,Los Angeles Lakers,-118.267222,...,Loss,L 1,10:30p,0.0,POR,-122.666667,45.531667,2009.0,"(34.043056, -118.267222)","(45.531667, -122.666667)"
1,200810310POR,"Fri, Oct 31, 2008",2008-10-31,2,Home,0,1.0,SAS,San Antonio Spurs,-98.437500,...,Win,W 1,10:30p,1.0,POR,-122.666667,45.531667,2009.0,"(29.426944, -98.4375)","(45.531667, -122.666667)"
2,200811010PHO,"Sat, Nov 1, 2008",2008-11-01,3,Away,0,2.0,PHO,Phoenix Suns,-112.071389,...,Loss,L 1,10:00p,1.0,POR,-122.666667,45.531667,2009.0,"(33.445833, -112.071389)","(45.531667, -122.666667)"
3,200811050UTA,"Wed, Nov 5, 2008",2008-11-05,4,Away,0,3.0,UTA,Utah Jazz,-111.901111,...,Loss,L 2,9:00p,1.0,POR,-122.666667,45.531667,2009.0,"(40.768333, -111.901111)","(45.531667, -122.666667)"
4,200811060POR,"Thu, Nov 6, 2008",2008-11-06,5,Home,0,3.0,HOU,Houston Rockets,-95.362222,...,Win,W 1,10:30p,2.0,POR,-122.666667,45.531667,2009.0,"(29.750833, -95.362222)","(45.531667, -122.666667)"

In [22]:
# Calculate travel distance for the first row in the schedule table
schedule.loc[0,'distance_traveled']=distance.distance(schedule.loc[0,'team_coords'],schedule.loc[0,'opp_coords']).miles
schedule.head(1)

,boxscore_index,date,datetime,game,location,distance_traveled,losses,opponent_abbr,opponent_name,opponent_long,...,result,streak,time,wins,team,team_long,team_lat,season,opp_coords,team_coords
0,200810280LAL,"Tue, Oct 28, 2008",2008-10-28,1,Away,826.133254,1.0,LAL,Los Angeles Lakers,-118.267222,...,Loss,L 1,10:30p,0.0,POR,-122.666667,45.531667,2009.0,"(34.043056, -118.267222)","(45.531667, -122.666667)"

In [23]:
# Calculate travel distance for all remaining rows
for i,loc in enumerate(schedule['location'][1:],start=1):
    # Game is away and it is first game of season -> distance from home arena to opponent's arena
    if loc=='Away' and schedule.loc[i,'season']!=schedule.loc[i-1,'season']: 
        schedule.loc[i,'distance_traveled']=distance.distance(schedule.loc[i,'team_coords'],
                                                              schedule.loc[i,'opp_coords']).miles
    # Game is away and previous game was away -> distance from previous opponent's arena to current opponent's arena
    elif loc=='Away' and schedule.loc[i-1,'location']=='Away':
        schedule.loc[i,'distance_traveled']=distance.distance(schedule.loc[i-1,'opp_coords'],
                                                              schedule.loc[i,'opp_coords']).miles
    # Game is away and previous game was home -> distance from home arena to opponent's arena
    elif loc=='Away' and schedule.loc[i-1,'location']=='Home':
        schedule.loc[i,'distance_traveled']=distance.distance(schedule.loc[i,'team_coords'],
                                                              schedule.loc[i,'opp_coords']).miles
    # Game is home and previous game was away -> distance from previous opponent's arena to home arena
    elif loc=='Home' and schedule.loc[i-1,'location']=='Away' and schedule.loc[i,'season']==schedule.loc[i-1,'season']:
        schedule.loc[i,'distance_traveled']=distance.distance(schedule.loc[i-1,'opp_coords'],
                                                              schedule.loc[i,'team_coords']).miles
    # In all other cases the distance traveled remains zero

In [24]:
schedule.head()

,boxscore_index,date,datetime,game,location,distance_traveled,losses,opponent_abbr,opponent_name,opponent_long,...,result,streak,time,wins,team,team_long,team_lat,season,opp_coords,team_coords
0,200810280LAL,"Tue, Oct 28, 2008",2008-10-28,1,Away,826.133254,1.0,LAL,Los Angeles Lakers,-118.267222,...,Loss,L 1,10:30p,0.0,POR,-122.666667,45.531667,2009.0,"(34.043056, -118.267222)","(45.531667, -122.666667)"
1,200810310POR,"Fri, Oct 31, 2008",2008-10-31,2,Home,826.133254,1.0,SAS,San Antonio Spurs,-98.437500,...,Win,W 1,10:30p,1.0,POR,-122.666667,45.531667,2009.0,"(29.426944, -98.4375)","(45.531667, -122.666667)"
2,200811010PHO,"Sat, Nov 1, 2008",2008-11-01,3,Away,1005.964440,2.0,PHO,Phoenix Suns,-112.071389,...,Loss,L 1,10:00p,1.0,POR,-122.666667,45.531667,2009.0,"(33.445833, -112.071389)","(45.531667, -122.666667)"
3,200811050UTA,"Wed, Nov 5, 2008",2008-11-05,4,Away,505.045543,3.0,UTA,Utah Jazz,-111.901111,...,Loss,L 2,9:00p,1.0,POR,-122.666667,45.531667,2009.0,"(40.768333, -111.901111)","(45.531667, -122.666667)"
4,200811060POR,"Thu, Nov 6, 2008",2008-11-06,5,Home,634.959453,3.0,HOU,Houston Rockets,-95.362222,...,Win,W 1,10:30p,2.0,POR,-122.666667,45.531667,2009.0,"(29.750833, -95.362222)","(45.531667, -122.666667)"

In [25]:
# Check the type of data in datetime column
schedule['datetime'][0]

'2008-10-28'

In [26]:
pd.to_datetime(schedule['datetime'][0])

Timestamp('2008-10-28 00:00:00')

In [27]:
# Convert column from str to datetime
schedule['datetime']=pd.to_datetime(schedule['datetime'])
schedule['datetime'][0]

Timestamp('2008-10-28 00:00:00')

In [28]:
# Create columns of zeros for back to back games, three games in four nights, and four games in five nights
schedule['back_to_back']=0
schedule['3_in_4']=0
schedule['4_in_5']=0
schedule.head()

,boxscore_index,date,datetime,game,location,distance_traveled,losses,opponent_abbr,opponent_name,opponent_long,...,wins,team,team_long,team_lat,season,opp_coords,team_coords,back_to_back,3_in_4,4_in_5
0,200810280LAL,"Tue, Oct 28, 2008",2008-10-28,1,Away,826.133254,1.0,LAL,Los Angeles Lakers,-118.267222,...,0.0,POR,-122.666667,45.531667,2009.0,"(34.043056, -118.267222)","(45.531667, -122.666667)",0,0,0
1,200810310POR,"Fri, Oct 31, 2008",2008-10-31,2,Home,826.133254,1.0,SAS,San Antonio Spurs,-98.437500,...,1.0,POR,-122.666667,45.531667,2009.0,"(29.426944, -98.4375)","(45.531667, -122.666667)",0,0,0
2,200811010PHO,"Sat, Nov 1, 2008",2008-11-01,3,Away,1005.964440,2.0,PHO,Phoenix Suns,-112.071389,...,1.0,POR,-122.666667,45.531667,2009.0,"(33.445833, -112.071389)","(45.531667, -122.666667)",0,0,0
3,200811050UTA,"Wed, Nov 5, 2008",2008-11-05,4,Away,505.045543,3.0,UTA,Utah Jazz,-111.901111,...,1.0,POR,-122.666667,45.531667,2009.0,"(40.768333, -111.901111)","(45.531667, -122.666667)",0,0,0
4,200811060POR,"Thu, Nov 6, 2008",2008-11-06,5,Home,634.959453,3.0,HOU,Houston Rockets,-95.362222,...,2.0,POR,-122.666667,45.531667,2009.0,"(29.750833, -95.362222)","(45.531667, -122.666667)",0,0,0

In [30]:
# Fill in columns for back to back, 3 in 4, and 4 in 5
for i,date in enumerate(schedule['datetime'][1:],start=1):
    temp1=str(date-schedule['datetime'][i-1])
    # Check for back to back
    if int(temp1[:temp1.index(' ')])==1:
        schedule.loc[i,'back_to_back']=1
    if i>=2:
        temp2=str(date-schedule['datetime'][i-2])
        # Check for 3 in 4
        if int(temp2[:temp2.index(' ')])==3:
            schedule.loc[i,'3_in_4']=1
    if i>=3:
        temp3=str(date-schedule['datetime'][i-3])
        # Check for 4 in 5
        if int(temp3[:temp3.index(' ')])==4:
            schedule.loc[i,'4_in_5']=1

In [31]:
schedule.head(20)

,boxscore_index,date,datetime,game,location,distance_traveled,losses,opponent_abbr,opponent_name,opponent_long,...,wins,team,team_long,team_lat,season,opp_coords,team_coords,back_to_back,3_in_4,4_in_5
0,200810280LAL,"Tue, Oct 28, 2008",2008-10-28,1,Away,826.133254,1.0,LAL,Los Angeles Lakers,-118.267222,...,0.0,POR,-122.666667,45.531667,2009.0,"(34.043056, -118.267222)","(45.531667, -122.666667)",0,0,0
1,200810310POR,"Fri, Oct 31, 2008",2008-10-31,2,Home,826.133254,1.0,SAS,San Antonio Spurs,-98.437500,...,1.0,POR,-122.666667,45.531667,2009.0,"(29.426944, -98.4375)","(45.531667, -122.666667)",0,0,0
2,200811010PHO,"Sat, Nov 1, 2008",2008-11-01,3,Away,1005.964440,2.0,PHO,Phoenix Suns,-112.071389,...,1.0,POR,-122.666667,45.531667,2009.0,"(33.445833, -112.071389)","(45.531667, -122.666667)",1,0,0
3,200811050UTA,"Wed, Nov 5, 2008",2008-11-05,4,Away,505.045543,3.0,UTA,Utah Jazz,-111.901111,...,1.0,POR,-122.666667,45.531667,2009.0,"(40.768333, -111.901111)","(45.531667, -122.666667)",0,0,0
4,200811060POR,"Thu, Nov 6, 2008",2008-11-06,5,Home,634.959453,3.0,HOU,Houston Rockets,-95.362222,...,2.0,POR,-122.666667,45.531667,2009.0,"(29.750833, -95.362222)","(45.531667, -122.666667)",1,0,0
5,200811080POR,"Sat, Nov 8, 2008",2008-11-08,6,Home,0.000000,3.0,MIN,Minnesota Timberwolves,-93.276111,...,3.0,POR,-122.666667,45.531667,2009.0,"(44.979444, -93.276111)","(45.531667, -122.666667)",0,1,0
6,200811100ORL,"Mon, Nov 10, 2008",2008-11-10,7,Away,2528.550979,3.0,ORL,Orlando Magic,-81.383611,...,4.0,POR,-122.666667,45.531667,2009.0,"(28.539167, -81.383611)","(45.531667, -122.666667)",0,0,0
7,200811120MIA,"Wed, Nov 12, 2008",2008-11-12,8,Away,203.649384,3.0,MIA,Miami Heat,-80.188056,...,5.0,POR,-122.666667,45.531667,2009.0,"(25.781389, -80.188056)","(45.531667, -122.666667)",0,0,0
8,200811140NOH,"Fri, Nov 14, 2008",2008-11-14,9,Away,669.652193,4.0,NOH,New Orleans Hornets,-90.081944,...,5.0,POR,-122.666667,45.531667,2009.0,"(29.948889, -90.081944)","(45.531667, -122.666667)",0,0,0
9,200811150MIN,"Sat, Nov 15, 2008",2008-11-15,10,Away,1051.110499,4.0,MIN,Minnesota Timberwolves,-93.276111,...,6.0,POR,-122.666667,45.531667,2009.0,"(44.979444, -93.276111)","(45.531667, -122.666667)",1,1,0
10,200811180GSW,"Tue, Nov 18, 2008",2008-11-18,11,Away,1582.995387,5.0,GSW,Golden State Warriors,-122.387500,...,6.0,POR,-122.666667,45.531667,2009.0,"(37.768056, -122.3875)","(45.531667, -122.666667)",0,0,0
11,200811190POR,"Wed, Nov 19, 2008",2008-11-19,12,Home,535.988948,5.0,CHI,Chicago Bulls,-87.674167,...,7.0,POR,-122.666667,45.531667,2009.0,"(41.880556, -87.674167)","(45.531667, -122.666667)",1,0,0
12,200811210SAC,"Fri, Nov 21, 2008",2008-11-21,13,Away,478.663461,5.0,SAC,Sacramento Kings,-121.518056,...,8.0,POR,-122.666667,45.531667,2009.0,"(38.649167, -121.518056)","(45.531667, -122.666667)",0,1,0
13,200811220PHO,"Sat, Nov 22, 2008",2008-11-22,14,Away,638.559265,6.0,PHO,Phoenix Suns,-112.071389,...,8.0,POR,-122.666667,45.531667,2009.0,"(33.445833, -112.071389)","(45.531667, -122.666667)",1,1,1
14,200811240POR,"Mon, Nov 24, 2008",2008-11-24,15,Home,1005.964440,6.0,SAC,Sacramento Kings,-121.518056,...,9.0,POR,-122.666667,45.531667,2009.0,"(38.649167, -121.518056)","(45.531667, -122.666667)",0,1,0
15,200811260POR,"Wed, Nov 26, 2008",2008-11-26,16,Home,0.000000,6.0,MIA,Miami Heat,-80.188056,...,10.0,POR,-122.666667,45.531667,2009.0,"(25.781389, -80.188056)","(45.531667, -122.666667)",0,0,0
16,200811280POR,"Fri, Nov 28, 2008",2008-11-28,17,Home,0.000000,6.0,NOH,New Orleans Hornets,-90.081944,...,11.0,POR,-122.666667,45.531667,2009.0,"(29.948889, -90.081944)","(45.531667, -122.666667)",0,0,0
17,200811300DET,"Sun, Nov 30, 2008",2008-11-30,18,Away,1950.808515,6.0,DET,Detroit Pistons,-83.245556,...,12.0,POR,-122.666667,45.531667,2009.0,"(42.696944, -83.245556)","(45.531667, -122.666667)",0,0,0
18,200812020NYK,"Tue, Dec 2, 2008",2008-12-02,19,Away,496.560438,6.0,NYK,New York Knicks,-73.993611,...,13.0,POR,-122.666667,45.531667,2009.0,"(40.750556, -73.993611)","(45.531667, -122.666667)",0,0,0
19,200812030WAS,"Wed, Dec 3, 2008",2008-12-03,20,Away,205.569448,6.0,WAS,Washington Wizards,-77.020833,...,14.0,POR,-122.666667,45.531667,2009.0,"(38.898056, -77.020833)","(45.531667, -122.666667)",1,1,0

In [32]:
# Calculate number of times teams played three games in four nights
schedule['3_in_4'].sum()

9898

In [33]:
# Calculate number of times teams played four games in five nights
schedule['4_in_5'].sum()

706

In [34]:
# Export schedule table
schedule.to_csv('schedule.csv',index=False)