In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
#calculate the cumulative distance for each team for each season
def calc_cd(data,df,team_value):
    #sort the games by date ascending
    d=data[data['team']==team_value].sort_values(by='datetime', key=pd.to_datetime)
    for season_value in d['season'].unique():
        dd=d[d['season']==season_value]
        dd['cd']=np.cumsum(dd['distance_traveled'])
        for row in dd.index:
            df.loc[row]=dd.loc[row]
            df.loc[row,'cd']=dd.loc[row,'cd']
    return df

In [18]:
#export cumulative dist in each season for each team to schedule_cd.csv
data = pd.read_csv('schedule.csv')
data['month']=pd.to_datetime(data.datetime).dt.month
data['week']=pd.to_datetime(data.datetime).dt.weekofyear
l=list(data.columns)
l.append('cd')
l.append('acd')
df=pd.DataFrame(columns=l, index=range(0,data.shape[0]))
for team_value in data['team'].unique():
    df=calc_cd(data,df,team_value)
df.to_csv('schedule_cd.csv')
df.team.unique()

array(['POR', 'LAC', 'DEN', 'HOU', 'DAL', 'NOH', 'DET', 'CHI', 'PHO',
       'SAC', 'NJN', 'TOR', 'IND', 'PHI', 'WAS', 'MIL', 'MIN', 'NYK',
       'MIA', 'ORL', 'MEM', 'BOS', 'GSW', 'UTA', 'SAS', 'CLE', 'CHA',
       'OKC', 'ATL', 'LAL', 'BKN', 'NOP', 'CHO'], dtype=object)

In [3]:
df = pd.read_csv('schedule_cd.csv',index_col=0)
df.head()

,boxscore_index,date,datetime,game,location,distance_traveled,losses,opponent_abbr,opponent_name,opponent_long,...,season,opp_coords,team_coords,back_to_back,3_in_4,4_in_5,month,week,cd,acd
0,200810280LAL,"Tue, Oct 28, 2008",10/28/08,1,Away,826.133254,1.0,LAL,Los Angeles Lakers,-118.267222,...,2009,"(34.043056, -118.267222)","(45.531667, -122.666667)",0,0,0,10,44,826.133254,NaN
1,200810310POR,"Fri, Oct 31, 2008",10/31/08,2,Home,826.133254,1.0,SAS,San Antonio Spurs,-98.437500,...,2009,"(29.426944, -98.4375)","(45.531667, -122.666667)",0,0,0,10,44,1652.266508,NaN
2,200811010PHO,"Sat, Nov 1, 2008",11/1/08,3,Away,1005.964440,2.0,PHO,Phoenix Suns,-112.071389,...,2009,"(33.445833, -112.071389)","(45.531667, -122.666667)",1,0,0,11,44,2658.230948,NaN
3,200811050UTA,"Wed, Nov 5, 2008",11/5/08,4,Away,505.045543,3.0,UTA,Utah Jazz,-111.901111,...,2009,"(40.768333, -111.901111)","(45.531667, -122.666667)",0,0,0,11,45,3163.276491,NaN
4,200811060POR,"Thu, Nov 6, 2008",11/6/08,5,Home,634.959453,3.0,HOU,Houston Rockets,-95.362222,...,2009,"(29.750833, -95.362222)","(45.531667, -122.666667)",1,0,0,11,45,3798.235944,NaN